<div>
    <H2>Add book to library</H2>
      <form>
         <div class="row">         
            <div class="span12">
              <fieldset>
                <label>Title:</label>
                <input id="title" class="span12" type="text" placeholder="Enter title…"/>
                <label>Author:</label>
                <input id="author" class="span12" type="text" placeholder="Written by…"/>
                <label>Description:</label>
                <textarea id="description" class="span12" rows="8"placeholder="Book description..."/>   
                <label>ISBN:</label>
                <input id="isbn" class="span12" type="text" placeholder="1234567"/>             
                <label>Tags:</label>
                <input id="tags" class="span12" type="text" placeholder="Example: C#, Java, ..."/>  
                <br />
                <button type="button" class="btn">Submit book</button>
              </fieldset>
            </div>
        </div>
    </form>  

</div>