<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

	<connectionStrings>
		<add name="AlexandriaEntities" connectionString="metadata=res://*/Models.BooksStore.csdl|res://*/Models.BooksStore.ssdl|res://*/Models.BooksStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=156.109.215.106;initial catalog=Alexandria;persist security info=True;user id=Alexandria;password=C0mplexPwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>
